<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h1>Berlioz Sample</h1>
    <h2>GCP Address Book</h2>
    <h3>Source: <a href="https://github.com/berlioz-the/sample-gcp-address-book" target="_blank">https://github.com/berlioz-the/sample-gcp-address-book</a></h3>

    <div class="row">
        <div class="col-sm">
            <% include ../partials/new-contact %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <% include ../partials/contact-list %>
        </div>
    </div>

    <% include ../partials/global-error %>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
